#ant specific
Hønens-Indskrivning-System-3/dist/
Hønens-Indskrivning-System-3/build/
 
#netbeans specific
Hønens-Indskrivning-System-3/core
Hønens-Indskrivning-System-3/nbproject/*
!Hønens-Indskrivning-System-3/nbproject/project.properties
!Hønens-Indskrivning-System-3/nbproject/project.xml
 
#java specific
*.class
 
#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #