#ant specific
his-v3/dist/
his-v3/build/
his-v3/data/

 
#netbeans specific
his-v3/core
his-v3/nbproject/*
!his-v3/nbproject/project.properties
!his-v3/nbproject/project.xml
 
#java specific
*.class
 
#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
